@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', cursive;
}

.box_1 {

    height: 361px;

    display: flex;
    justify-content: center;
    gap: 150px;
}

.b1_right,
.b1_left {
    margin-top: 80px;
}

.b1_left {

    margin-top: 200px;
    /* font-family: cursive; */
    padding: 30px;
}

.b1_left p {
    margin: 20px 0;
}

.b1_left button {
    padding: 8px 13px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: skyblue;
    transition: 0.2s ease-in;
}

.b1_left button:hover {
    background-color: rgb(75, 158, 190);
    cursor: pointer;
}

.b1_right img {

    width: 200px;
    position: relative;
    top: 50px;
}

.box_2 {
    display: flex;
    margin-top: 150px;
    gap: 60px;
    justify-content: center;
    background-image: url(/assests/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */


}

.b2_left,
.b2_mid,
.b2_last {
    padding: 100px 0;
    text-align: center;
    margin-top: 100px;

}

.box_2 h1 {
    color: rgb(172, 230, 181)
}

.box_2 p,
h3 {
    color: white;
}

.box_3 {
    display: flex;
    justify-content: center;
    margin: 50px;
    text-align: center;
}

button {
    padding: 3px 10px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: skyblue;

}

p {
    padding: 10px 0;
}

.box_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/assests/bg.jpg);
    background-size: cover
    background-repeat: no-repeat;
    background-position: center;

}

.b4_mid {
    margin-top: 100px;
    text-align: center;
    color: white;
}

.b4_last {
    display: flex;
    justify-content: center;
}

.b4img {
    padding: 70px 100px;
    border: 1px dashed white;
    margin: 40px 10px;
    color: white;

}

span {

    color: red;
}

footer {
    margin-bottom: 40px;
    text-align: center;
}